body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
}
.my_photo {
    background: url(../image/my_photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 500px;
    height: 400px;
}
.nav_logo {
    background: url(../image/1346.png) no-repeat center center;
    background-size: 100%;
    width: 88px;
    height: 96px;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.container {
    margin-top: 30px;
}
.title_photo {
    text-align: center;
}